{% extends 'base.html' %}
{% block title %}Linear regression{% endblock title %}

{% block body %}
<div class="container ">
  <br>
<div class="bg-light rounded-3 text-center fs-4 p-2">
  <h2 class="display-4">Logistic Regression</h2>
  Logistic regression is a statistical analysis method to predict a binary outcome, such as yes or no, based on prior observations of a data set.
  A logistic regression model predicts a dependent data variable by analyzing the relationship between one or more existing independent variables. For example, a logistic regression could be used to predict whether a political candidate will win or lose an election or whether a high school student will be admitted or not to a particular college. 
  These binary outcomes allow straightforward decisions between two alternatives.
  A logistic regression model can take into consideration multiple input criteria. 
  In the case of college acceptance, the logistic function could consider factors such as the student's grade point average, SAT score and number of extracurricular activities. Based on historical data about earlier outcomes involving the same input criteria, 
  it then scores new cases on their probability of falling into one of two outcome categories</div>

<br>
<div class="bg-light rounded-3 text-center fs-4 p-2">
  <h2 class="display-4">An Example Of Logistic regression Model</h2>
  An example of logistic regression model using a database to find which person will get a loan based on factors
  like gender, graduate, maritial status, property value etc.
  </div>

<br>
<center>
<div class="row">
 
<img class="w-50 col-md-6" src="\static\logistic2import.PNG"></img>
<div class="col-md-6 bg-light rounded-3 fs-4">Importing pandas to perform data cleaning in the datasets
  <br>Importing logistic regression model from sklearn<br>
  Traintestsplit to split our data to training and testing respectively<br>
  r2-score to check the correctness of our data fro data visualization
</div>
<center>
  
  <br>
  <center>
      <div class="row">
      <div class="col-md-6 bg-light rounded-3 fs-4 h-50" style="margin-top:20px;"> 
          Reading the database
      </div>
      <img class="w-50 col-md-6" src="\static\logistic2read.PNG"></img>
      <center>
                  <br>
                  <center>
                      <div class="row">
                      <div class="col-md-6 bg-light rounded-3 fs-4 h-50" style="margin-top:0px;"> 
                          The X variable contains all the independent values 
                          <br>
                          The Y variable contains the dependent variable which has to be predicted
                      </div>
                      <img class="w-50 col-md-6" src="\static\logistic2xy.PNG"></img>
                      <center>
                          <br>
                          <br>
                  <center>
                      <div class="row">
                          <img class="w-50 col-md-6" src="\static\logistic2xy.PNG"></img>
                      <div class="col-md-6 bg-light rounded-3 fs-4 h-50" style="margin-top:30px;"> 
                          Dividing the data into training and testing data  
                          <br>
                          Fitting data in Logistic Regression model to train our machine
                      </div>
                      
                      <center>
                          <br>
                          <br>
                          <center>
                              <div class="row">
                                  
                              <div class="col-md-6 bg-light rounded-3 fs-4 h-50" style="margin-top:10px;"> 
                                 Code to check Accuracy score
                              </div>
                              <img class="w-50 col-md-6" src="\static\logistic2score.PNG"></img>
                              
                              <center>
                                  <br>
                                 
                                          <input type="button" class="btn btn-primary" id="linearbtn" value="Click To See Accuracy score">
                          <br>
                          <div class="row p-3" id="graphlinear">
                              <center>
                              <div class="col-md-6  display-4 bg-light rounded-3" style="margin-top:20px "> Acurracy Score :- {{variable}}</div>
                          </div>
                          <br>

<div class="container bg-light text-start rounded-3 w-50">
    <form method="POST" action="/logistic">
        {% csrf_token %}
  <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label  fs-3 text-dark fw-light">Gender</label>
  <div class="form-check">
      <input  class="form-check-input" type="radio" name="flexRadioDefault" id="m" value="1">
      <label  class="form-check-label" for="flexRadioDefault1">
        Male
      </label>
    </div>
    <div class="form-check">
        <input  class="form-check-input" type="radio" name="flexRadioDefault" id="f" value="0">
        <label  class="form-check-label" for="flexRadioDefault1">
        Female
      </label>
    </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label fs-3 text-dark fw-light">Married</label>
    <div class="form-check">
      <input  class="form-check-input" type="radio" name="married"  id="mar">
      <label  class="form-check-label">
        Yes
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="married"  id="unm">
      <label  class="form-check-label"  >
        No
      </label>
    </div>
    </div>
    <div class="dropdown">
        <label for="exampleInputEmail1" class="form-label  fs-3 text-dark fw-light">Dependents</label>
        <br>
      <button class="btn btn-secondary dropdown-toggle " type="button" id="dep" data-bs-toggle="dropdown" >
          Dependents
      </button>
      <ul class="dropdown-menu" >
        <li><a class="dropdown-item" id="dep1">0</a></li>
        <li><a class="dropdown-item" id="dep2">1</a></li>
        <li><a class="dropdown-item" id="dep3">2</a></li>
        <li><a class="dropdown-item" id="dep4">3+</a></li>
      </ul>
    </div>
    <br>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label fs-3 text-dark fw-light">Education</label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="edu" id="grad">
      <label  class="form-check-label" >
        Graduate
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="edu" id="ungrad">
      <label  class="form-check-label" >
        Ungraduate
      </label>
    </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label fs-3 text-dark fw-light">Self_Employed</label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="employ" id="self">
      <label  class="form-check-label" >
        Yes
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="employ" id="selfno">
      <label  class="form-check-label" >
        No
      </label>
    </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label fs-3 text-dark fw-light">Applicant Income</label>
      <input style="margin:auto;" type="number" class="form-control css" id="inc">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label fs-3 text-dark fw-light">Co_Applicant_Income</label>
      <input style="margin:auto;" type="number" class="form-control css" id="co_inc">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label fs-3 text-dark fw-light">Loan Amount</label>
      <input style="margin:auto;" type="number" class="form-control css" id="loanam">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label fs-3 text-dark fw-light">Loan Amount Term In days</label>
      <input style="margin:auto;" type="number" class="form-control css" id="loanterm">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label fs-3 text-dark fw-light">Credit History</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="credit" id="cred1">
        <label  class="form-check-label" >
          Paid
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="credit" id="cred2">
        <label  class="form-check-label" >
          Unpaid
        </label>
      </div>
    </div>
    <div class="dropdown">
        <label for="exampleInputPassword1" class="form-label fs-3 text-dark fw-light">Property Value</label>
        <br>
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" >
          Property Area
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" >
        <li><a class="dropdown-item" id="rural">Rural</a></li>
        <li><a class="dropdown-item" id="urban">Urban</a></li>
        <li><a class="dropdown-item" id="surban">Semiurban</a></li>
      </ul>
    </div>
    <br>
  <input type="button" class="btn btn-primary" id="logbtn" value="Submit"></input>
</form>
<br>
<label for="exampleInputPassword1" class="form-label fs-3 text-dark fw-light" id="ls">Loan Status : </label>

</div>
<br>
</div>
<script>
  $("#graphlinear").hide()
  $("#linearbtn").click(function(){
      $("#graphlinear").fadeToggle(500);
  })
    console.log("asd")
    var gender
    var married
    var dependent
    var graduate
    var selfemp
    var income
    var co_applicant
    var loanamount
    var loanterm
    var credit 
    var property
    $("#m").click(function(){
        gender = 1
        console.log(gender)
      })
      $("#f").click(function(){
        gender = 0
        console.log(gender)
      })
      $("#mar").click(function(){
        married = 1
        console.log(married)
      })
      $("#unm").click(function(){
        married = 0
        console.log(married)
      })
      $("#dep1").click(function(){
          dependent=0
        console.log(dependent)
      })
      $("#dep2").click(function(){
        dependent=1
      console.log(dependent)
    })
    $("#dep3").click(function(){
        dependent=2
      console.log(dependent)
    })
    $("#dep4").click(function(){
        dependent=3
      console.log(dependent)
    })
    $("#grad").click(function(){
    graduate=1
      console.log(graduate)
    })
    $("#ungrad").click(function(){
      graduate=0
      console.log(graduate)
    })
    $("#self").click(function(){
        selfemp=1
      console.log(selfemp)
    })
    $("#selfno").click(function(){
        selfemp=0
      console.log(selfemp)
    })
    $("#cred1").click(function(){
      credit=1
    console.log(credit)
  })
  $("#cred2").click(function(){
    credit=0
  console.log(credit)
})
$("#rural").click(function(){
  property=0
console.log(property)
})
$("#urban").click(function(){
  property=2
console.log(property)
})
$("#surban").click(function(){
  property=1
console.log(property)
})
    $("#logbtn").click(function(){
      income = document.getElementById("inc").value
      co_applicant = document.getElementById("co_inc").value
      loanamount = document.getElementById("loanam").value
      loanterm = document.getElementById("loanterm").value
      console.log(income)
      $.ajax({
        type : "post",
        url : "/logistic2",
        data: {csrfmiddlewaretoken: '{{ csrf_token }}',
        income,
        co_applicant,
        loanamount,
        loanterm,
        property,
        gender,
        married,
        dependent,
        graduate,
        selfemp,
        credit
                },
        success: function(resp)
        {

          var k 
          if(resp==0)
          k='no';
          else
          k='yes';
            $('#ls').html("Loan Status : "+k)
        }
      })
    
    })
    
    
</script>
</div>

{% endblock body %}