{% extends 'base.html' %}
{% block title %}Linear regression{% endblock title %}

{% block body %}
<div class="container ">
    <br>
<div class="bg-light rounded-3 text-center fs-4 p-2">
    <h2 class="display-4">Logistic Regression</h2>
    Logistic regression is a statistical analysis method to predict a binary outcome, such as yes or no, based on prior observations of a data set.
    A logistic regression model predicts a dependent data variable by analyzing the relationship between one or more existing independent variables. For example, a logistic regression could be used to predict whether a political candidate will win or lose an election or whether a high school student will be admitted or not to a particular college. 
    These binary outcomes allow straightforward decisions between two alternatives.
    A logistic regression model can take into consideration multiple input criteria. 
    In the case of college acceptance, the logistic function could consider factors such as the student's grade point average, SAT score and number of extracurricular activities. Based on historical data about earlier outcomes involving the same input criteria, 
    it then scores new cases on their probability of falling into one of two outcome categories</div>

<br>
<div class="bg-light rounded-3 text-center fs-4 p-2">
    <h2 class="display-4">An Example Of Logistic regression Model</h2>
    An example of logistic regression model using a datbase to find out weather a patient will have a heart disease or not in 10 years using some factors
    like age, smoking rate, BMI, etc.
    </div>

<br>
<center>
<div class="row">
   
<img class="w-50 col-md-6" src="\static\heat.png"></img>
<div class="col-md-6 bg-light rounded-3 fs-4">Importing pandas to perform data cleaning in the datasets
    <br>Importing linear regression model from sklearn<br>
    Traintestsplit to split our data to training and testing respectively<br>
</div>
<center>
    
    <br>
    <center>
        <div class="row">
        <div class="col-md-6 bg-light rounded-3 fs-4 h-50" style="margin-top:90px;"> 
            Reading the database
        </div>
        <img class="w-50 col-md-6" src="\static\Screenshot (9).png"></img>
        <center>
            <br>
            <center>
                <div class="row">
                    <img class="w-50 col-md-6" src="\static\Screenshot (11).png"></img>
                <div class="col-md-6 bg-light rounded-3 fs-4 h-50" style="margin-top:200px;"> 
                    Heatmap to show correlation betweeen the data
                </div>
                
                <center>
                    <br>
                    <center>
                        <div class="row">
                        <div class="col-md-6 bg-light rounded-3 fs-4 h-50" style="margin-top:0px;"> 
                            The X variable contains all the independent values 
                            <br>
                            The Y variable contains the dependent variable which has to be predicted
                        </div>
                        <img class="w-50 col-md-6" src="\static\Screenshot (12).png"></img>
                        <center>
                            <br>
                            <br>
                    <center>
                        <div class="row">
                            <img class="w-50 col-md-6" src="\static\Screenshot (13).png"></img>
                        <div class="col-md-6 bg-light rounded-3 fs-4 h-50" style="margin-top:30px;"> 
                            Dividing the data into training and testing data  
                            <br>
                            Fitting data in Logistic Regression model to train our machine
                        </div>
                        
                        <center>
                            <br>
                            <br>
                            <center>
                                <div class="row">
                                    
                                <div class="col-md-6 bg-light rounded-3 fs-4 h-50" style="margin-top:10px;"> 
                                   Code to check Accuracy Score
                                </div>
                                <img class="w-50 col-md-6" src="\static\Screenshot (14).png"></img>
                                
                                <center>
                                    <br>
                                    <br>
                                    <center>
                                        <div class="row">
                                            <img class="w-50 col-md-6" src="\static\Screenshot (15).png"></img>
                                        <div class="col-md-6 bg-light rounded-3 fs-4 h-50" style="margin-top:5px;"> 
                                           Code to see Classification Report
                                        </div>
                                        
                                        <center>
                                            <br>
                                            <input type="button" class="btn btn-primary" id="linearbtn" value="Click To See Accuracy score">
                            <br>
                            <div id="graphlinear">
                            
                                <div class="col-md-6 h-50 display-4 bg-light rounded-3" style="margin-top:20px"> Accuracy Score :- {{variable}}</div>
                            </div>
                            <br>
                          
     
</div>
</div>
<script>
    $("#graphlinear").hide()
    $("#linearbtn").click(function(){
        $("#graphlinear").fadeToggle(500);
    })
</script>

{% endblock body %}