{% extends 'base.html' %}
{% block title %}Linear regression{% endblock title %}

{% block body %}
<div class="container ">
    <br>
<div class="bg-light rounded-3 text-center fs-4 p-2">
    <h2 class="display-4">Logistic Regression</h2>
    Logistic regression is a statistical analysis method to predict a binary outcome, such as yes or no, based on prior observations of a data set.
    A logistic regression model predicts a dependent data variable by analyzing the relationship between one or more existing independent variables. For example, a logistic regression could be used to predict whether a political candidate will win or lose an election or whether a high school student will be admitted or not to a particular college. 
    These binary outcomes allow straightforward decisions between two alternatives.
    A logistic regression model can take into consideration multiple input criteria. 
    In the case of college acceptance, the logistic function could consider factors such as the student's grade point average, SAT score and number of extracurricular activities. Based on historical data about earlier outcomes involving the same input criteria, 
    it then scores new cases on their probability of falling into one of two outcome categories</div>

<br>
<div class="bg-light rounded-3 text-center fs-4 p-2">
    <h2 class="display-4">An Example Of Logistic regression Model</h2>
    An example of logistic regression model using a datbase to find out weather a patient will have a heart disease or not in 10 years using some factors
    like age, smoking rate, BMI, etc.
    </div>

<br>
<center>
<div class="row">
   
<img class="w-50 col-md-6" src="/static/heat.jpg"></img>
<div class="col-md-6 bg-light rounded-3 fs-4">Importing pandas to perform data cleaning in the datasets
    <br>Importing linear regression model from sklearn<br>
    Traintestsplit to split our data to training and testing respectively<br>
</div>
<center>
    
    <br>
    <center>
        <div class="row">
        <div class="col-md-6 bg-light rounded-3 fs-4 h-50" style="margin-top:90px;"> 
            Reading the database
        </div>
        <img class="w-50 col-md-6" src="\static\screenshot9.jpg"></img>
        <center>
            <br>
            <center>
                <div class="row">
                    <img class="w-50 col-md-6" src="\static\screenshot11.jpg"></img>
                <div class="col-md-6 bg-light rounded-3 fs-4 h-50" style="margin-top:200px;"> 
                    Heatmap to show correlation betweeen the data
                </div>
                
                <center>
                    <br>
                    <center>
                        <div class="row">
                        <div class="col-md-6 bg-light rounded-3 fs-4 h-50" style="margin-top:0px;"> 
                            The X variable contains all the independent values 
                            <br>
                            The Y variable contains the dependent variable which has to be predicted
                        </div>
                        <img class="w-50 col-md-6" src="\static\screenshot12.jpg"></img>
                        <center>
                            <br>
                            <br>
                    <center>
                        <div class="row">
                            <img class="w-50 col-md-6" src="\static\screenshot13.jpg"></img>
                        <div class="col-md-6 bg-light rounded-3 fs-4 h-50" style="margin-top:30px;"> 
                            Dividing the data into training and testing data  
                            <br>
                            Fitting data in Logistic Regression model to train our machine
                        </div>
                        
                        <center>
                            <br>
                            <br>
                            <center>
                                <div class="row">
                                    
                                <div class="col-md-6 bg-light rounded-3 fs-4 h-50" style="margin-top:10px;"> 
                                   Code to check Accuracy Score
                                </div>
                                <img class="w-50 col-md-6" src="/static/screenshot14.jpg"></img>
                                
                                <center>
                                    <br>
                                    <br>
                                    
                                        
                                        <center>
                                            <br>
                                            <input type="button" class="btn btn-primary" id="linearbtn" value="Click To See Accuracy score">
                            <br>
                            <div id="graphlinear">
                            
                                <div class="col-md-6 h-50 display-4 bg-light rounded-3" style="margin-top:20px"> Accuracy Score :- {{variable}}</div>
                            </div>
                            <br>

                             <div class="container bg-light text-start rounded-3 w-50">
          <form method="POST">
              <br>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Gender
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" >Male</a></li>
                  <li><a class="dropdown-item" >Female</a></li>
                </ul>
              </div>
              <br>
            <div class="mb-3">
                <label  class="form-label">Age</label>
                <input type="text" class="form-control css" >
              </div>
              <br>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Education
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" >1</a></li>
              <li><a class="dropdown-item" >2</a></li>
              <li><a class="dropdown-item" >3</a></li>
              <li><a class="dropdown-item" >4</a></li>
            </ul>
          </div>
          <br>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Current Smoker</label>
          <div class="form-check">
            <input  class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label  class="form-check-label" for="flexRadioDefault1">
              Yes
            </label>
          </div>
          <div class="form-check">
            <input  class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              No
            </label>
          </div>
          </div>
          <div class="mb-3">
            <label  class="form-label">Cigarette Per Day</label>
            <input style="margin:auto;" type="number" class="form-control css" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Blood Pressure Medications</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label  class="form-check-label" for="flexRadioDefault1">
              Yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label  class="form-check-label" for="flexRadioDefault1">
              No
            </label>
          </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Prevalent Stroke</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label  class="form-check-label" for="flexRadioDefault1">
              Yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              No
            </label>
          </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Prevalent Hypertension</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label  class="form-check-label" for="flexRadioDefault1">
              Yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label  class="form-check-label" for="flexRadioDefault1">
              No
            </label>
          </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Diabetes</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label  class="form-check-label" for="flexRadioDefault1">
              Yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label  class="form-check-label" for="flexRadioDefault1">
              No
            </label>
          </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Total Cholesterol</label>
            <input style="margin:auto;" type="text" class="form-control css" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"> Systolic Blood Pressure</label>
            <input style="margin:auto;" type="text" class="form-control css" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Diastolic Blood Pressure</label>
            <input style="margin:auto;" type="text" class="form-control css" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">BMI</label>
            <input style="margin:auto;" type="text" class="form-control css" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Heart Rate</label>
            <input style="margin:auto;" type="text" class="form-control css" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Glucose</label>
            <input style="margin:auto;" type="text" class="form-control css" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Ten Year Child</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label  class="form-check-label" for="flexRadioDefault1">
              Yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label  class="form-check-label" for="flexRadioDefault1">
              No
            </label>
          </div>
          </div>
          <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <br>
     <p>Heart Disease :</p>
     <br>   
     
    </div>

    <br>
                          
     
</div>
</div>
<script>
    $("#graphlinear").hide()
    $("#linearbtn").click(function(){
        $("#graphlinear").fadeToggle(500);
    })
</script>

{% endblock body %}